<!-- Footer -->
<footer class="bg-red-600 shadow-lg">
  <div class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8">
    <nav class="flex flex-wrap justify-center -mx-5 -my-2">
      <div class="px-5 py-2">
        <a href="#" class="text-base leading-6 text-white hover:text-gray-200">
          About
        </a>
      </div>
      <div class="px-5 py-2">
        <a href="#" class="text-base leading-6 text-white hover:text-gray-200">
          Blog
        </a>
      </div>
    </nav>
    <p class="mt-8 text-base leading-6 text-center text-white">
      © 2025 Youtube-From-Temu All rights reserved.
    </p>
  </div>
</footer>
