footer.bg-red-600.shadow-lg
    .max-w-screen-xl.px-4.py-12.mx-auto.space-y-8.overflow-hidden.sm:px-6.lg:px-8
        nav.flex.flex-wrap.justify-center.-mx-5.-mx-2
            .px-5.py-2
                a.text-base.leading-6.text-white.hover:text-gray-200 href="#" About
            .px-5.py-2
            <!-- = link_to "Blogs", blogs_path, class: "text-base leading-6 text-white hover:text-gray-200" --> 
        p.mt-8.text-base.leading-6.text-center.text-white 
            | © 2025 Youtube-From-Temu All rights reserved.